*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.section{
    width: 100%;
    min-height: 150vh;
    background-color: #ddd;
}
.container{
    width:80%;
    display: block;
    margin: auto;
    padding-top: 30px;
}
.content-section{
    float: left;
    width: 55%;
}
.image-section{
    float: right;
    width: 40%;
}
.image-section img{
    width: 100%;
    height: auto;
    display: block;
    margin:auto;
}
.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
    text-align: center;
}
.content-section .content h3{
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
}
.content-section .content p{
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}
ul{
    font-weight: 300px;
}
ul li{
    font-size: 20px;
}
